body {
  width: 100%;
  height: auto;
  font-family: 'Lato', sans-serif;
}

.my-Space {
  width: 100%;
  height: auto;
}
.tech-image {
  width: 100%;
  height: auto;
}

.tech-image img {
  width: 100%;
  padding: 12px;
}

.my-stack li {
  display: flex;
  padding: 16px;
  align-items: center;
  column-gap: 12px;
  font-size: 19px;
  color: whitesmoke;
}

.left-card h2 {
  text-align: center;
  margin: 12px;
  font-size: 33px;
  padding-left: 0;
  color: whitesmoke;
}

/* MobileMenu.css */
.button-container {
  width: 60px;
  overflow: hidden;
  margin-left: 20px;
  border: 2px solid black;
  align-items: center;
  border-radius: 30px;
}

.move-button {
  background-color: #1b1b1b;
  color: #272424;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  margin-left: 16px;
  padding: 2px 5px;
  border-radius: 30px;
}

.move-button.left {
  transform: translateX(-60%);
  color: #fdf9f9;
  background-color: rgb(32, 32, 32);
}

.button-icon {
  font-size: 10px;
  width: 30px;
  background-color: rgb(15, 15, 15);
  border-radius: 30px;
  padding: 3px;
}

@media (min-width: 1024px) {
  .item {
    background-color: rgb(248, 40, 92);
    color: beige;
    padding: 5px 12px;
    text-decoration: none;
    margin: auto 5px;
  }

  .item:hover {
    color: rgb(37, 37, 37);
    font-size: 29px;
    background-color: rgb(255, 144, 8);
  }

  .first-Container {
    width: 100%;
    height: auto;
    background-color: rgb(78, 76, 76);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 33px;
    align-items: center;
    align-content: center;
    padding: 30px;
  }

  .first-Card {
    height: auto;
    list-style: none;
  }

  .tech-image {
    width: 100%;
    height: auto;
  }

  .left-card h2 {
    width: 90%;
    text-align: center;
    margin: 12px;
    font-size: 33px;
    padding-left: 0;
    color: whitesmoke;
    animation: changeColor 6s linear infinite;
  }

  .tech-image img {
    width: 80%;
  }

  .my-stack {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    column-gap: 12px;
    list-style: none;
    text-align: center;
  }

  .my-stack > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

@keyframes changeColor {
  0% {
    color: red;
  }

  33% {
    color: purple;
  }

  66% {
    color: pink;
  }

  100% {
    color: orange;
  }
}
